{% extends "partials/base.html" %}

{% block title %}
  Home
{% endblock %}


{% block content %}
    <header>
        <h1>Welcome to SW Bank</h1>
        <p>Your Trusted Partner in Financial Services</p>
    </header>
    <section>
        <h2>Personal Banking</h2>
        <p>
            Discover our range of personal banking services tailored to meet your individual needs.
            From savings accounts to personalized loans, we've got you covered.
        </p>
    </section>

    <section>
        <h2>Business Solutions</h2>
        <p>
            Explore our business banking solutions designed to help your company thrive.
            From business accounts to commercial loans, we support your business goals.
        </p>
    </section>

    <section>
        <h2>Online Banking</h2>
        <p>
            Manage your finances conveniently with our secure online banking platform.
            Access your accounts, transfer funds, and pay bills anytime, anywhere.
        </p>
    </section>

    <section>
        <h2>Financial Education</h2>
        <p>
            Stay informed with our financial education resources.
            Learn about budgeting, investing, and smart financial planning to achieve your goals.
        </p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>
            Have questions or need assistance? Contact our customer support team at
            <a href="tel:+123456789">123-456-789</a> or
            <a href="mailto:info@swbank.com">info@swbank.com</a>.
        </p>
    </section>

{% endblock %}

